site_name: My New Project
site_description: Project documentation
site_url: ""

theme:
  name: material
  language: en
  features:
    - navigation.instant
    - navigation.tabs
    - search.highlight
    - search.share

nav:
  - Home: index.md

plugins:
  - search
  - awesome-pages
  - autoreload

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true

repo_url: ""
repo_name: ""
